In [5]:
recs = [{'sid' : 'makarma', 'value' : 'foo'},
        {'sid' : 'mrkafon', 'value' : 'bar'},
        {'sid' : 'cbthom2', 'value' : 'meme'},
        {'sid' : 'jlmoor7', 'value' : 'foo'}]

In [6]:
import pandas
df = pandas.DataFrame(recs)
df

       sid value
0  makarma   foo
1  mrkafon   bar
2  cbthom2  meme
3  jlmoor7   foo

In [10]:
def highlight_foo(val):
    if val == 'foo':
        return 'color: blue'
    else:
        return 'color: black'

In [11]:
df.style.applymap(highlight_foo)